body{
    background-color: antiquewhite;
}

.about{
    font-size: 19px;
    margin-left: -7%;
}


.team{
    border-radius: 50%;
    width: 200px;
    height: 210px;

}

.images{
    display: flex;
    margin-left: 10%;
    font-size: 15px;
}

.wholepage{
    justify-content: space-between;
    margin-top:4%;
}


.collegues{
    margin-left: -7%;
    font-size: 40px;
}


@media screen and (min-width:280px) and (max-width:400px){
    body{
        background-color: antiquewhite;
    }
    
    .about{
        font-size: 10px;
        margin-left: -2%;
    }
    
    
    .team{
        border-radius: 50%;
        width: 70px;
        height: 50px;
    
    }
    
    .images{
        margin-left: 20%;
        font-size: 8.5px;
        flex-wrap: wrap;
    }
    
    .wholepage{
        margin-top: -5%;
    }

    .collegues{
        margin-left: -7%;
        font-size: 20px;
    }

}



@media screen and (min-width:400px) and (max-width:750px){
    body{
        background-color: antiquewhite;
    }
    
    .about{
        font-size: 10px;
        margin-left: -2%;
    }
    
    
    .team{
        border-radius: 50%;
        width: 140px;
        height: 100px;
    
    }
    
    .images{
        margin-left: 20%;
        font-size: 8.5px;
        flex-wrap: wrap;
    }
    
    .wholepage{
        margin-top: -5%;
    }

    .collegues{
        margin-left: -7%;
        font-size: 20px;
    }




}



@media screen and (min-width:750px) and (max-width:1280px){
    body{
        background-color: antiquewhite;
    }
    
    .about{
        font-size: 20px;
        margin-left: -2%;
    }
    
    
    .team{
        border-radius: 50%;
        width: 250px;
        height: 200px;
    
    }
    
    .images{
        margin-left: 20%;
        font-size: 20px;
        flex-wrap: wrap;
    }
    
    .wholepage{
        margin-top: 7%;
        
    }
    
    .collegues{
        margin-right: 5%;
        font-size: 40px;
    }



}